<html>
<script language="javascript">
function changeparent()
{
window.opener.document.getElementById('video-window---0').html("<video width='100%' height='250px' src='http://localhost:1111/' autoplay='true' controls='true'>You need Safari, Quicktime or IPhone/IPad to play this</video>");
}
</script>
<body>
<form>
<input type=button onclick="javascript:changeparent()" value="Change opener's textbox's value..">
</form>
</body>
</html> 