<!--<p><%= notice %></p>-->

<h3 align="center">Please Login to View our Live Streams</h3>


<p align="center"><%= link_to 'Login with Facebook', @auth_url, :class=>"button" %></p>



<!--OAuth: <%= session[:oauth] %>
Access Token <%= session[:access_token] %>-->


