<br />
<% @streams.each do |stream| %>
  <div>
    <p><b><h5><%= link_to stream.name, stream_path(stream.id) %></h5></b></p> <br />
    <p><%= stream.description %></p>
  </div>
  <hr />
<% end %>

<br />

<!-- <%= button_to("Logout", logout_path , method: :delete) %> -->
