// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav ul li a:hover, nav ul li a.home {
        background:url(nav-button-bg2.png) no-repeat 0 0;
        color:#fff;
        text-shadow:0 1px 0 #28699d;
      }